@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    padding-left: 31px;
    padding-right: 31px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 39px;
    padding-right: 39px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 55px;
    padding-right: 55px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  border: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

input {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Open Sans', 'Raleway', sans-serif;
  background-color: #fff;
  color: #555555;
  font-size: 18px;
  line-height: 1.17;
}

@media screen and (min-width: 480px) {
  section {
    padding-top: 84px;
    padding-bottom: 84px;
  }
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

.main-button {
  padding: 12px 20px;
  cursor: pointer;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #fff;
  background-color: grey;
  border: 1px solid #FF6C00;
  border-radius: 25px;
}

.main-button.secondary-button {
  color: #303030;
  background-color: #fff;
}

.main-button:hover, .main-button:focus {
  background-color: #FF6C00;
}

.section-name {
  position: relative;
  margin-bottom: 20px;
  padding-left: 70px;
  font-weight: 600;
  color: #303030;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.section-name::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background-color: #303030;
  width: 50px;
  height: 1px;
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
}

.hero-slogan {
  color: rgba(157, 164, 189, 0.6);
}

.hero-slogan::before {
  content: "";
  background-color: rgba(157, 164, 189, 0.6);
}

.main-title {
  margin-bottom: 44px;
  font-family: 'Raleway';
  font-size: 42px;
  letter-spacing: 0.05em;
  color: #303030;
}

.section-price .main-title {
  color: #fff;
}

.section-benefits .main-title {
  margin-bottom: 20px;
}

.logo {
  width: 69px;
  height: 55px;
}

.menu-toggle {
  position: absolute;
  top: 48px;
  right: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: #fff;
}

.menu-toggle:hover, .menu-toggle:focus {
  color: #FF6C00;
  border-color: #FF6C00;
}

.menu-toggle .menu-icon {
  fill: #303030;
}

.menu-toggle:hover .menu-icon,
.menu-toggle:focus .menu-icon {
  fill: #FF6C00;
}

.menu-container {
  outline: 1px solid red;
  position: relative;
  background-color: #fff;
  width: 350px;
  height: 796px;
  padding-top: 118px;
  padding-left: 50px;
  padding-bottom: 227px;
}

.page-navigation {
  margin-bottom: 64px;
}

.navigation-item:not(:last-child) {
  margin-bottom: 24px;
}

.navigation-link,
.header-phone {
  color: #303030;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.1em;
}

.navigation-link:hover, .navigation-link:focus,
.header-phone:hover,
.header-phone:focus {
  color: #FF6C00;
}

.header-phone {
  text-transform: uppercase;
}

.header-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin-bottom: 64px;
}

.header-active .main-button {
  margin-top: 24px;
  width: 194px;
}

.page-social-link {
  position: relative;
  padding-left: 100px;
  color: #303030;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.2em;
}

.page-social-link:hover, .page-social-link:focus {
  color: #FF6C00;
}

.current::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background-color: #303030;
  width: 60px;
  height: 1px;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.hero {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 480px 580px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url("../image/bcg-hero/bcg-hero-mob.jpg");
  background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../image/bcg-hero/bcg-hero-mob.jpg");
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), -webkit-image-set(url("../images/bcg-hero/bcg-hero-mob.webp") 1x);
  background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), -webkit-image-set(url("../images/bcg-hero/bcg-hero-mob.webp") 1x);
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url("../images/bcg-hero/bcg-hero-mob@2x.jpg");
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/bcg-hero/bcg-hero-mob@2x.jpg");
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), -webkit-image-set(url("../images/bcg-hero/bcg-hero-mob@2x.webp") 2x);
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), -webkit-image-set(url("../images/bcg-hero/bcg-hero-mob@2x.webp") 2x);
  }
}

.hero-title {
  margin-bottom: 20px;
  color: #fff;
  font-family: 'Raleway';
  font-size: 48px;
  letter-spacing: 0.05em;
}

.hero-text {
  width: 306px;
  color: #9DA4BD;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.02em;
}

.about-title {
  margin-bottom: 20px;
  width: 330px;
  color: #303030;
  font-family: 'Raleway';
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.05em;
}

.about-subtitle {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.02em;
}

.about-description {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.86;
}

.section-masters {
  background-color: #F7F7F7;
}

.soc-link-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.soc-link-item:not(:last-child) {
  margin-right: 10px;
}

.soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
}

.soc-link svg {
  fill: #303030;
}

.soc-link:hover svg,
.soc-link:focus svg {
  fill: #FF6C00;
}
/*# sourceMappingURL=main.css.map */