.logo {
    width: 69px;
    height: 55px;
}

.menu-toggle {
    position: absolute;
    top: 48px;
    right: 31px;

    @include Flex (flex, center, center);

    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: $main-bcg-color;

    &:hover,
    &:focus {
        color: $accent-color;
        border-color: $accent-color;
    }

    & .menu-icon {
        fill: $title-color;
    }

    &:hover .menu-icon,
    &:focus .menu-icon {
        fill: $accent-color;
    }
}

.menu-container {
    position: relative;
    background-color: aqua;
    width: 350px;
    // width: 72%;
    height: 796px;
}

.page-navigation {
    margin-top: 118px;
    margin-left: 49px;
    margin-bottom: 64px;
}

.navigation-item {
    &:not(:last-child) {
        margin-bottom: 24px;
    }
}