.page-header {

    & .container {
        margin: 0;
    }
    
    position: relative;
    top: 40px;
    left: 0;
    height: 0;
}

.logo {
    width: 69px;
    height: 55px;

    & svg {
        fill: $main-bcg-color;
    }
}

.menu-toggle {
    position: absolute;
    top: 8px;
    right: 31px;

    @include Flex (flex, center, center);

    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: $main-bcg-color;

    &:hover,
    &:focus {
        color: $accent-color;
        border-color: $accent-color;
    }

    & .menu-icon {
        fill: $title-color;
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.menu-burger {
    background-color: transparent;

    & .menu-icon {
        fill: $main-bcg-color;
    }
}

.menu-close {
    top: 40px;
}

.menu-container {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;

    background-color: $main-bcg-color;
    width: 75vw;
    height: 100%;
    padding-top: 118px;
    padding-left: 50px;
    padding-bottom: 227px;

    box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.04), 
    -2px 0px 4px rgba(0, 0, 0, 0.08), 
    -1px 0px 3px rgba(0, 0, 0, 0.16);
    transform: translateX(100%);

    transition: transform 500ms ease-in-out;

    &.is-open {
        transform: translateX(0);
    }
}

.page-navigation {
    margin-bottom: 64px;
}

.navigation-item {
    &:not(:last-child) {
        margin-bottom: 24px;
    }
}

.navigation-link,
.header-phone {
    color: $title-color;
    font-weight: 600;
    font-size: $main-font-size;
    line-height: 1.39;
    text-align: center;
    letter-spacing: 0.1em;

    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.header-phone {
    text-transform: uppercase;
}

.header-active {
    @include Flex (flex, flex-start, center);
    flex-direction: column-reverse;
    margin-bottom: 64px;

    & .main-button {
        margin-top: 24px;
        width: 194px;
    }
}

.page-social-item {
    &:first-child {
        margin-bottom: 24px;
    }
}

.page-social-link {
    position: relative;
    padding-left: 100px;

    color: $title-color;
    font-weight: 600;

    @include SectionH2 ($secondary-font-size, 1.36, 0.2em, null);

    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.current {
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;

        display: block;
        background-color: $title-color;
        width: 60px;
        height: 1px;
        
        transform: translateY(10px);
    }
}

