.logo {
    width: 69px;
    height: 55px;
}

.menu-toggle {
    position: absolute;
    top: 48px;
    right: 31px;

    @include Flex (flex, center, center);

    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: $main-bcg-color;

    &:hover,
    &:focus {
        color: $accent-color;
        border-color: $accent-color;
    }

    & .menu-icon {
        fill: $title-color;
    }

    &:hover .menu-icon,
    &:focus .menu-icon {
        fill: $accent-color;
    }
}

.menu-container {
    outline: 1px solid red;
    
    position: relative;
    background-color: $main-bcg-color;
    width: 350px;
    // width: 72%;
    height: 796px;
    padding-top: 118px;
    padding-left: 50px;
    padding-bottom: 227px;
}

.page-navigation {
    margin-bottom: 64px;
}

.navigation-item {
    &:not(:last-child) {
        margin-bottom: 24px;
    }
}

.navigation-link,
.header-phone {
    color: $title-color;
    font-weight: 600;
    font-size: $main-font-size;
    line-height: 1.39;
    text-align: center;
    letter-spacing: 0.1em;

    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.header-phone {
    text-transform: uppercase;
}

.header-active {
    @include Flex (flex, flex-start, center);
    flex-direction: column-reverse;
    margin-bottom: 64px;

    & .main-button {
        margin-top: 24px;
        width: 194px;
    }
}

.page-social-link {
    position: relative;
    padding-left: 100px;

    color: $title-color;
    font-weight: 600;

    @include SectionH2 ($secondary-font-size, 1.36, 0.2em, null);

    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.current {   
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;

        display: block;
        background-color: $title-color;
        width: 60px;
        height: 1px;
        
        transform: translateY(10px);
    }
}

