.page-footer {
    background-color: $secondary-bcg-color;
    padding-top: 44px;
    padding-bottom: 44px;
}

.footer-social-list {
    @include Flex (flex, center, flex-end);

    & .ftr-social-item {
        &:first-child {
            margin-right: 40px;
        }
    }
}

.ftr-social-link {
    position: relative;
    color: $title-color;
    font-weight: 600;

    @include SectionH2 (11px, 1.36, 0.2em, null);

    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.secondary-current {
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -100px;

        display: block;
        background-color: $title-color;
        width: 60px;
        height: 1px;
        
        transform: translateY(9px);
    }
}

.footer-copyright {
    padding-top: 35px;
    @include SectionH2 (11px, 1.36, 0.02em, null);
    color: $subtitle-color;
}