.section-name {
    position: relative;
    margin-bottom: 20px;
    margin-left: 80px;

    @include SectionH2 (11px, 1.36, 0.1em, uppercase);

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 31px;

        display: block;
        // margin-top: 20px;
        background-color: $title-color;
        width: 1px;
        height: 60px;
        
        transform: translateY(-23px) rotate(90deg);
    }
}

.about-title {
    margin-bottom: 20px;
    width: 330px;

    color: $title-color;
    font-family: 'Raleway';
    font-size: 28px;
    line-height: 1.18;
    letter-spacing: 0.05em;
}

.about-subtitle {
    margin-bottom: 20px;

    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.02em;
}

.about-description {
    margin-bottom: 40px;
    font-size: $secondary-font-size;
    line-height: 1.86;
}

