@include BarberScreen(tablet) {
    .about-flex {
        @include Flex (flex, center, space-between);
        flex-basis: calc((100% - 30px) / 2);
    }
}

.about-img {
    display: none;

    @include BarberScreen(tablet) {
        display: block;
        width: 330px;

        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
}

@include BarberScreen(tablet) {
    .card-about-text {
        margin-left: 30px;
    }
}

.about-title {
    margin-bottom: 20px;
    width: 330px;

    color: $title-color;
    font-family: 'Raleway';
    font-size: 28px;
    line-height: 1.18;
    letter-spacing: 0.05em;
}

.about-subtitle {
    margin-bottom: 20px;

    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.02em;
}

.about-description {
    margin-bottom: 40px;
    font-size: $secondary-font-size;
    line-height: 1.86;
}

