body {
    font-family: 'Open Sans', 'Raleway', sans-serif;
    background-color: $main-bcg-color;
    color: $main-text-color;
    font-size: $main-font-size;
    line-height: $title-lh;
}

section {
    @media screen and (min-width: $mobile) {
        @include PaddingSection (84px, 84px);
    }
}

img {
    display: block;
    max-width: 100%;
    height: 100%;
}