$mobile: 480px;
$tablet: 768px;
$desktop: 1280px;

$main-bcg-color: #fff;
// $main-bcg-color: #E5E5E5;
$secondary-bcg-color: #F7F7F7;
$main-text-color: #555555;
$title-color: #303030;
$subtitle-color: #9DA4BD; 
$accent-color: #FF6C00;

$main-font-size: 18px;
$secondary-font-size: 14px;
$title-font-size: 42px;

$title-lh: 1.17;